<header class="header">
  <div class="header-container">
    <a href="/" class="site-logo" aria-label="TechVT — página inicial">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="assets/images/logotipo-techvt-desktop.png"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="assets/images/logotipo-techvt-mobile.png"
          type="image/webp"
        />

        <img
          src="/assets/logo-desktop.png"
          alt="TechVT"
          width="180"
          height="40"
          fetchpriority="high"
          decoding="async"
        />
      </picture>
    </a>
    <div class="header-wrapper">
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-list__item">
            <a href="" class="menu-list__item--link">aaa</a>
          </li>
          <li class="menu-list__item">
            <a href="" class="menu-list__item--link">bbb</a>
          </li>
          <li class="menu-list__item">
            <a href="" class="menu-list__item--link">ccc</a>
          </li>
        </ul>
      </nav>
      <div class="header-theme-portal"></div>
    </div>
  </div>
</header>
