<div class="wrap hero">
        <div>
          <div class="eyebrow reveal">@@eyebrow</div>
          <h1 class="reveal">@@title<br>
            <span class="fade">@@highlight</span>
          </h1>
          <p class="lead reveal">@@lead</p>
          <div class="hero-cta reveal">
            <a class="pill primary" href="@@primaryHref">@@primaryLabel <i data-lucide="arrow-right"></i>
            </a>
            <a class="pill" href="@@secondaryHref">@@secondaryLabel <i data-lucide="message-circle"></i>
            </a>
            <span class="micro">
              <i data-lucide="check"></i> @@microcopy</span>
          </div>
        </div>
        <div class="terminal reveal" aria-label="Repositórios Front-end em destaque">
          <div class="repo-carousel swiper">
            <div class="swiper-wrapper">
              @@include("./_repository-slide.html", {"repositoryPath": "techvt://repositorio/projeto-01", "repositoryTitle": "techvt / projeto-01", "repositoryHref": "https://github.com/techvt/projeto-01"})
              @@include("./_repository-slide.html", {"repositoryPath": "techvt://repositorio/projeto-02", "repositoryTitle": "techvt / projeto-02", "repositoryHref": "https://github.com/techvt/projeto-02"})
              @@include("./_repository-slide.html", {"repositoryPath": "techvt://repositorio/projeto-03", "repositoryTitle": "techvt / projeto-03", "repositoryHref": "https://github.com/techvt/projeto-03"})
              @@include("./_repository-slide.html", {"repositoryPath": "techvt://repositorio/projeto-04", "repositoryTitle": "techvt / projeto-04", "repositoryHref": "https://github.com/techvt/projeto-04"})              
              @@include("./_repository-slide.html", {"repositoryPath": "techvt://repositorio/projeto-05", "repositoryTitle": "techvt / projeto-05", "repositoryHref": "https://github.com/techvt/projeto-05"})
            </div>
          </div>
          <div class="float-card">
            <span>Front-end com propósito</span>
            <strong>Interfaces claras.<br>Experiências humanas.</strong>
            <span>JavaScript • Web • Portais</span>
          </div>
        </div>
      </div>
