<section>
        <div class="wrap section">
          <div class="process-list reveal">
            <article class="process-step">
              <span>01 / BASE</span>
              <h3>@@stepOneTitle</h3>
              <p>@@stepOneDescription</p>
            </article>
            <article class="process-step">
              <span>02 / VISUAL</span>
              <h3>@@stepTwoTitle</h3>
              <p>@@stepTwoDescription</p>
            </article>
            <article class="process-step">
              <span>03 / INTERAÇÃO</span>
              <h3>@@stepThreeTitle</h3>
              <p>@@stepThreeDescription</p>
            </article>
            <article class="process-step">
              <span>04 / QUALIDADE</span>
              <h3>@@stepFourTitle</h3>
              <p>@@stepFourDescription</p>
            </article>
          </div>
        </div>
      </section>
