h1 {
  font-size: 2.625rem;
  font-weight: 700;

  @media screen and ($min-xl) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;

  @media screen and ($min-xl) {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 1.875rem;

  @media screen and ($min-xl) {
    font-size: 3rem;
  }
}

h4 {
  font-size: 1.75rem;

  @media screen and ($min-xl) {
    font-size: 2.5rem;
  }
}

h5 {
  font-size: 1.5rem;

  @media screen and ($min-xl) {
    font-size: 2.25rem;
  }
}

h6 {
  font-size: 1.25rem;

  @media screen and ($min-xl) {
    font-size: 2rem;
  }
}

p,
span,
li {
  font-size: 1rem;

  @media screen and ($min-xl) {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  color: var(--text-color-main);
  line-height: 1;
  word-break: break-word;
}
