//Brand colors
$brand-color-1: #0061ff;
$brand-color-2: #fefefe;
$background-main-light: #fefefe;
$text-color-main-light: #3a3a3a;
$background-main-dark: #3a3a3a;
$text-color-main-dark: #fefefe;
$background-transparent-ligth: #ffffffdb;

//Filters
$filter-to-black: invert(0%) sepia(0%) saturate(7500%) hue-rotate(75deg) brightness(103%)
  contrast(104%);
$filter-to-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(102%)
  contrast(105%);

//Colors
$black: #000;
$white: #fff;

//Borders
$border-white-light: #f1f1f1;

//Shadows
$shadow-block-end: 0 2px 5px 0 rgb(0 0 0 / 8%);

:root {
  --background-color-main: #{$background-main-light};
  --text-color-main: #{$text-color-main-light};
  --brand-color-main: #{$brand-color-1};
  --background-transparent: #{$background-transparent-ligth};
  --filter-icon: #{$filter-to-black};
}

:root.dark {
  --background-color-main: #{$background-main-dark};
  --text-color-main: #{$text-color-main-dark};
  --brand-color-main: #{$brand-color-2};
  --background-transparent: #{$background-main-dark};
  --filter-icon: #{$filter-to-white};
}

//Container's maximum width
$max-width: 1400px;

//Screen sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//Mobile first
$min-sm: "min-width: #{$sm}";
$min-md: "min-width: #{$md}";
$min-lg: "min-width: #{$lg}";
$min-xl: "min-width: #{$xl}";
$min-hd: "min-width: #{$xxl}";

//Desktop first
$max-xs: "max-width: #{$sm - 0.2px}";
$max-sm: "max-width: #{$md - 0.2px}";
$max-md: "max-width: #{$lg - 0.2px}";
$max-lg: "max-width: #{$xl - 0.2px}";
$max-xl: "max-width: #{$xxl - 0.2px}";

//Fonts
$primary-font: "Open Sans", sans-serif;

// Header height
$header-desktop: 8.125rem;
$header-mobile: 3.5rem;

// z-index
$header-index: 2;
$modal-index: 3;
